.dataGridHeader {
    padding: 4px;
    border-bottom: 1px solid #ccc;
    font-size: initial;
    font-weight: 400;
    color: #777;
    text-shadow: #ddf 0 0 0;
}
.dataGridFooter {
    padding: 3px;
    border-top: 1px solid #ccc;
    padding: 4px;
    font-size: initial;
    font-weight: 400;
    color: black;
    text-shadow: #ddf 0 0 0;
}

.dataGridHoveredRowCell.dataGridOddRowCell {
    border: 1px solid #eeeeee;
    background: #eeeeee; 
}
.dataGridHoveredRowCell.dataGridEvenRowCell {
    border: 1px solid #eeeeee;
    background: #eeeeee; 
}
.dataGridEvenRowCell {
    border: 1px solid #FFFFFF;
    background: #FFFFFF; 
}
.dataGridOddRowCell {
    border: 1px solid #FFFFFF;
    background: #FFFFFF; 
}
.dataGridCell {
     /*padding: 3px 10px; */
    padding: 1px;
    overflow: hidden;
    
    font-size: smaller;
}
.dataGridKeyboardSelectedRowCell {
    border: 1px solid #eeeeee; 
    background-color: #eeeeee;
}



