<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="empleadosUI.css">
        <style>
            table, th, td {
                border: 1px dashed red;
            }
        </style>
    </head>
    <body>

        <table width='100%' cellspacing='0' cellpadding='0' style='cursor: pointer; text-align: left; vertical-align: middle; border-bottom:1px solid lightgray;'> 
            <tbody>
                <tr> 
                    <td rowspan='6' style='width: 5px; background-color: #F8F8F8;'></td>
                    <td colspan='3' style='height:3px;'>
                    <td rowspan='6' style=' width: 5px; background-color: #F8F8F8;'>
                </tr> 
                <tr> 
                    <td width='78px' rowspan='3' style='text-align: center;'>
                        <img data-toggle='tooltip' data-placement='left' title='77' src='http://cimav.edu.mx/foto/fernando.aguirre' 
                             style='border:1px solid lightgray; margin-top: 3px; border-radius:50%; padding:2px;' >
                    </td> 
                </tr> 
                <tr> 
                    <td colspan='2' style='vertical-align: top;'>
                        <h5 style='margin-top: 0px; margin-bottom: 0px;'>AGUIRRE GARCIA FERNANDO</h5>
                    </td> 
                </tr> 
                <tr> 
                    <td colspan='1'> 
                        <code class='label-cyt-grp-niv'><span >00009</span></code> 
                        <code class='label-cyt-grp-niv' data-toggle='tooltip' data-placement='left' title='5'><span >CYT</span></code> 
                        <code class='label-cyt-grp-niv' data-toggle='tooltip' data-placement='left' title='TECNIVO ALGO...'><span >TAC</span></code> 
                        <code class='label-cyt-grp-niv'><span >CHI</span></code> 
                        <code class='label-cyt-grp-niv' data-toggle='tooltip' data-placement='left' title='LABORATORIOS Y TALLERES' > <span >00052</span> </code> 
                        <code class='label-cyt-grp-niv' data-toggle='tooltip' data-placement='left' title='00 años, 99 meses y 88 días'><span >01/Jul/2012</span></code>
                    </td> 
                </tr> 
                <tr> 
                    <td style='text-align:center;' />
                    <td colspan='3' style='height:3px;' />
                </tr> 
            </tbody>
        </table>


    </body>
</html>
